body {
    background-color: grey;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1 {
    color: rgb(63, 202, 236);
}

.description {
    font-size:24px;
}