/* * {
    outline: 2px solid red;
  }
*/

body {
    background-color: #ffffff;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color:#ffffff;
}

ul {
    padding:0;
    margin:0;
}

div, #header, #recipe-box,li {
    padding: 5px;
    margin: 10px auto;
    border-radius: 15px;
}

#header {
    box-sizing: border-box;
    width: 300px;
    background-color: #2f27ce;
    color: #ffffff;
    font-size: 50px;
}

#recipe-box {
    box-sizing: border-box;
    width: 600px;
    color: #ffffff;
}

li {
    list-style-type: none;
    font-size: 100px;
    background-color: #2f27ce;
    color:#ffffff;
    font-size: 16px;
    border-color: #2f27ce;
}